<a href="/board?id={{ this.boardId }}" class="hover:text-black">
    <div
        class="w-full max-w-sm rounded-xl overflow-hidden shadow-lg mx-auto mb-10 relative hover:scale-105 transition-transform ease-in-out duration-700 cursor-pointer dark:bg-gray-800">
        {{!-- 새로운 게시글인지 서버에서 정보를 받아서 New 뱃지를 붙일지 말지 결정 --}}
        {{#if this.isNew}}
        <span class="absolute top-5 left-5 bg-cyan-500 text-white text-xs font-medium mr-2 px-2.5 py-0.5 rounded">
            NEW
        </span>
        {{/if}}
        <img class="w-full" src={{this.imgUrl}} alt="미리보기" />
        <div class="px-6 py-4">
            {{!-- 무료 게시글인지 구독자 전용인지 서버에서 정보를 받아서 UI를 다르게 보여줌 --}}
            {{#if this.isFree}}
            <div class="text-emerald-700 text-xs font-black">
                무료 회원 공개
            </div>
            {{else}}
            <div class="text-emerald-700 text-xs font-black">
                유료 구독자 전용
            </div>
            {{/if}}
            {{!-- 카테고리 및 등록 일자도 서버에서 받은 정보대로 뿌려줌 --}}
            <div class="text-gray-400 text-xs font-semibold mb-3">
                {{this.category}}&nbsp;&nbsp;|&nbsp;&nbsp;{{this.createdDate}}
            </div>
            {{!-- 제목도 --}}
            {{!-- 화면 작아지면 글자 크기를 줄여 최대한 정보를 노출시킴 --}}
            {{!-- 단, 최대 2줄만 노출 (너무 긴 제목의 경우 UI가 깨짐을 방지) --}}
            <div class="w-full font-bold text-md md:text-xl mb-2 text-ellipsis line-clamp-2 dark:text-white">
                {{this.title}}
            </div>
            {{!-- 내용도 --}}
            {{!-- 화면 작아지면 글자 크기를 줄여 최대한 정보를 노출시킴 --}}
            {{!-- 단, 최대 3줄만 노출 (너무 긴 내용의 경우 UI가 깨짐을 방지) --}}
            <div class="text-gray-700 text-sm md:text-sm mb-3 text-ellipsis line-clamp-3 dark:text-white">
                {{this.content}}
            </div>
        </div>
    </div>
</a>